---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';
const allPosts = (await getCollection('posts')).filter(post =>
    import.meta.env.DEV ? true : !post.data.devOnly
);
const tags = [...new Set(allPosts.map(post => post.data.tags).flat())];
tags.sort();
---

<Base title="Tags">
    <h2
        class="text-3xl font-medium tracking-wide text-accentColor w500:text-lg"
    >
        Tags
    </h2>
    <a
        href="/"
        class="mb-10 text-sm underline transition-colors hover:text-accentColor"
        >Back to posts</a
    >

    <div class="mt-4 flex flex-wrap gap-5">
        {
            tags.map(tag => (
                <a
                    class="inline-block text-lg text-lightModeText underline transition-colors hover:!text-accentColor dark:text-darkModeText w500:text-sm"
                    href={`/tags/${tag}`}
                >
                    #{tag}
                </a>
            ))
        }
    </div>
</Base>
