---
import Base from '../layouts/Base.astro';
---

<Base title="About">
	<h2
		class="text-2xl font-medium tracking-wide text-accentColor w500:text-lg"
	>
		About
	</h2>

	<div class="mt-4 tracking-wide text-justify w500:text-sm w500:leading-[2.2]">
		<p class="mb-4">
			As a Biochemist and a Computer Programmer, I will use this blog to
			marry the two topics into a (somewhat) cohesive discussion. This
			discussion will be about what things are, how to do things, and the
			implications of new technology! 
		</p>
		<p>
			This beautiful blog is built on the <a
				class="underline transition-colors hover:text-accentColor dark:text-darkModeText w500:text-sm"
				target="_blank"
				href="https://github.com/ekmas/minimal"
				>Minimal theme by `ekmas`</a
			>.
		</p>
	</div>
</Base>
