<footer
	class="flex h-[70px] items-center justify-center text-center w500:text-sm"
>
	<span>
		Trevor Fox | Copyright © 2024 | All rights reserved. |
		<a aria-label="Go to GitHub repo" href="https://github.com/Voxelmc/blog" target="_blank"><i class="ri-github-fill transition-colors hover:text-accentColor"></i></a>
	</span>
</footer>
