<footer
    class="flex h-[70px] w-full flex-col items-center justify-end text-center w500:text-sm"
>
    <span class="font-ptmono mb-3 text-xs font-light">
        Trevor Fox / Copyright © 2024 / All rights reserved. /
        <a
            class="ml-0.5"
            aria-label="Go to GitHub repo"
            href="https://github.com/Voxelmc/blog"
            target="_blank"
            ><i class="ri-github-fill transition-colors hover:text-accentColor"
            ></i></a
        >
        <a
            class="ml-0.5"
            aria-label="Go to RSS feed"
            href="/feed.xml"
            target="_blank"
            ><i class="ri-rss-fill transition-colors hover:text-accentColor"
            ></i></a
        >
        <a
            class="ml-px"
            aria-label="Go to Trevor's LinkedIn"
            href="https://www.linkedin.com/in/trevdfox"
            target="_blank"
            ><i
                class="ri-linkedin-box-fill transition-colors hover:text-accentColor"
            ></i></a
        >
    </span>
</footer>
