<footer
	class="flex h-[70px] w-full flex-col items-center justify-center text-center w500:text-sm"
>
	<span class="text-xs">
		Trevor Fox / Copyright © 2024 / All rights reserved.
	</span>
	<span class="inline-block">
		<a href="https://astro.build"
			><img
				class="inline"
				src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
				alt="Built with Astro"
				width="108"
				height="18"
			/></a
		>  <a class="ml-0.5"
			aria-label="Go to GitHub repo"
			href="https://github.com/Voxelmc/blog"
			target="_blank"
			><i class="ri-github-fill transition-colors hover:text-accentColor"
			></i></a
		>
	</span>
</footer>
