---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<nav
    transition:persist
    class="flex h-[90px] items-center justify-between px-2 w500:mt-8 w500:h-[110px] w500:flex-col w500:py-4"
>
    <a class="select-none transition-colors hover:text-accentColor" href="/">
        <h2 class="text-3xl font-medium w500:text-2xl">
            <span
                class="text-accentColor transition-colors hover:text-lightModeText dark:hover:text-darkModeText"
                >trev</span
            ><span
                class="text-lightModeText transition-colors hover:!text-accentColor dark:text-darkModeText"
                >fox</span
            >
        </h2>
    </a>

    <div class="flex items-center text-lg w500:text-base">
        <a
            class="navbar-link jbmono mr-10 select-none font-semibold transition-colors hover:text-accentColor"
            href="/portfolio">portfolio</a
        >
        <a
            class="navbar-link jbmono mr-10 select-none font-semibold transition-colors hover:text-accentColor"
            href="/tags">tags</a
        >
        <a
            class="navbar-link jbmono mr-10 select-none font-semibold transition-colors hover:text-accentColor"
            href="/about">about</a
        >
        <ThemeSwitcher />
    </div>
</nav>
