---
import config from '../config';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import 'remixicon/fonts/remixicon.css';

import '@fontsource/sora/400.css';
import '@fontsource/sora/500.css';
import '@fontsource/sora/700.css';
import type { PostFrontmatter } from '../content/config';

import SpeedInsights from '@vercel/speed-insights/astro';

export interface Props {
	frontmatter?: PostFrontmatter;
	title?: string;
	slug?: string;
}
const { frontmatter, title, slug } = Astro.props;
---

<html lang={config.lang}>
	<head>
		<BaseHead {slug} {frontmatter} title={title} />
		<script lang="js">
			document.querySelectorAll('a[href^="#"]').forEach(anchor => {
				console.log(anchor, anchor.getAttribute('href'));
				anchor.addEventListener('click', function (e) {
					e.preventDefault();

					document
						.querySelector(anchor.getAttribute('href'))
						.scrollIntoView({
							behavior: 'smooth',
						});
				});
			});
		</script>
		<SpeedInsights />
	</head>
	<body
		style="padding-left: calc(100vw - 100%);"
		class="mx-auto max-w-[860px] overflow-y-scroll bg-lightModeBg scrollbar scrollbar-thumb-accentColor dark:bg-darkModeBg dark:text-darkModeText"
	>
		<Nav />
		<main
			class="min-h-[calc(100dvh-90px-70px)] py-10 w500:min-h-[calc(100dvh-110px-70px)]"
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>
