---
import config from '../config';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

import 'remixicon/fonts/remixicon.css';
// import '@fontsource/sora/400.css';
// import '@fontsource/sora/500.css';
// import '@fontsource/sora/700.css';
// import '@fontsource-variable/jetbrains-mono/wght-italic.css';
// import '@fontsource-variable/jetbrains-mono';

import type { PostFrontmatter } from '../content/config';

import SpeedInsights from '@vercel/speed-insights/astro';
import FontImport from '../components/FontImport.astro';

export interface Props {
	frontmatter?: PostFrontmatter;
	title?: string;
	slug?: string;
}
const { frontmatter, title, slug } = Astro.props;
---

<html lang={config.lang}>
	<head>
		<ViewTransitions />
		<BaseHead {slug} {frontmatter} title={title} />
		<SpeedInsights />
		<FontImport />
	</head>
	<body
		id="body"
		style="padding-left: calc(100vw - 100%);"
		class="data-[loaded=true]:duration-400 mx-auto max-w-[77ch] overflow-y-scroll bg-lightModeBg scrollbar scrollbar-thumb-accentColor data-[loaded=true]:transition-colors dark:bg-darkModeBg dark:text-darkModeText"
		data-loaded="false"
	>
		<Nav />
		<main
			class="min-h-[calc(100dvh-90px-70px)] px-2 py-10 w500:min-h-[calc(100dvh-110px-70px)] w500:px-4"
		>
			<slot />
		</main>
		<Footer />
		<script is:inline defer lang="js">
			// history.pushState('', document.title, window.location.pathname);
			document.addEventListener('astro:page-load', () => {
				document.querySelectorAll('a[href^="#"]').forEach(anchor => {
					anchor.addEventListener('click', function (e) {
						e.preventDefault();
						history.pushState({}, '', anchor.getAttribute('href'));
						document
							.querySelector(anchor.getAttribute('href'))
							.scrollIntoView({
								behavior: 'smooth',
							});
					});
				});
				document.addEventListener('DOMContentLoaded', () => {
					document.getElementById('body').dataset.loaded = 'true';
				});
			});
		</script>
		<script>
			function colorMode() {
				if (
					localStorage.theme === 'dark' ||
					(!('theme' in localStorage) &&
						window.matchMedia('(prefers-color-scheme: dark)')
							.matches)
				) {
					document.documentElement.classList.add('dark');
				} else {
					document.documentElement.classList.remove('dark');
				}
			}

			colorMode();
			document.addEventListener('astro:after-swap', () => {
				colorMode();
			});
		</script>
	</body>
</html>
